<template>
  <div class="about">
    <h1>Add character</h1>
    <div class="content">
      <h2>Make your own...</h2>
      <input v-model="name" placeholder="Name of the character" /><br />
      <input v-model="height" placeholder="Height of the character" /><br />
      <input v-model="mass" placeholder="Mass of the character" /><br />
      <input v-model="hairColor" placeholder="Hair color of the character" /><br />
      <input v-model="skinColor" placeholder="Skin color of the character" /><br />
      <input v-model="birthYear" placeholder="Birth year of the character" /><br />
      <!--<input v-model="gender" placeholder="Gender of the character" />-->
      <select v-model="gender">
        <option disabled value="">Please select gender of the character</option>
        <option>male</option>
        <option>female</option>
        <option>other</option>
        <option>another</option>
        <option>something else</option>
        <option>n/a</option>
      </select><br />
      <div>
        <br />
        <button class="pure-button pure-button-success" @click="saveCharacter()">
          Save
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useStore } from 'vuex'
import router from '../router';

export default defineComponent({
  name: "Starships",
  components: {
  },

  setup() {
    const store = useStore()
    return { store }
  },

  data() {
    return {
      name: '',
      height: '',
      mass: '',
      hairColor: '',
      skinColor: '',
      birthYear: '',
      gender: '',
    }
  },

  methods: {
    saveCharacter() {
      const char = {
        name: this.name,
        height: this.height,
        mass: this.mass,
        hairColor: this.hairColor,
        skinColor: this.skinColor,
        birthYear: this.birthYear,
        gender: this.gender,
      }
      console.log(char)
      const charList = this.store.state.characters;
      charList.push(char);
      this.store.commit('setCharacters', charList);
      router.push({ name: 'Peoples' });
    },
  }
});
</script>
