<template>
  <div class="about">
    <h1>Complete</h1>
    <div class="content">
      <h2>Your selection is</h2>
      <YourSelection showDetails />
      <div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import YourSelection from "../components/YourSelection.vue";

export default defineComponent({
  name: "Starships",
  components: {
    YourSelection,
  },

  data() {
    return {
      identifier: ''
    }
  }
});
</script>
