<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <WelcomeMessage />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import WelcomeMessage from '@/components/WelcomeMessage.vue'; // @ is an alias to /src

export default defineComponent({
  name: 'Home',
  components: {
    WelcomeMessage,
  },
});
</script>
