<template>
  <div class="content">
    <Suspense>
      <template #default>
        <PeopleDetails v-bind:id="id" />
      </template>
      <template #fallback>
        <div>Loading...</div>
      </template>
    </Suspense>
    <br />
    <button class="pure-button pure-button-primary" v-on:click="goBack()">
      Back
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import router from '../router'
import { useRoute } from 'vue-router';
import PeopleDetails from "../components/PeopleDetails.vue";

export default defineComponent({
  name: "People",
  components: {
    PeopleDetails,
  },
  
  setup() {
    const route = useRoute();
    const id = parseInt(route.params.id.toString());
    return { id };
  },

  methods: {
    goBack() {
      router.push({ name: 'Peoples' })
    }
  }
});
</script>
