<template>
  <div class="people">
    <YourSelection />
    <Suspense>
      <template #default>
        <PeopleList />
      </template>
      <template #fallback>
        <div>Loading...</div>
      </template>
    </Suspense>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import YourSelection from "../components/YourSelection.vue";
import PeopleList from "../components/PeopleList.vue";

export default defineComponent({
  name: "Peoples",
  components: {
    PeopleList,
    YourSelection,
  }
});
</script>
