<template>
  <div class="planets">
    <YourSelection />
    <Suspense>
      <template #default>
        <PlanetList />
      </template>
      <template #fallback>
        <div>Loading...</div>
      </template>
    </Suspense>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import YourSelection from "../components/YourSelection.vue";
import PlanetList from "../components/PlanetList.vue";

export default defineComponent({
  name: "Planets",
  components: {
    PlanetList,
    YourSelection,
  }
});
</script>
