<template>
  <div class="starships">
    <YourSelection />
    <Suspense>
      <template #default>
        <StarshipsList />
      </template>
      <template #fallback>
        <div>Loading...</div>
      </template>
    </Suspense>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import YourSelection from "../components/YourSelection.vue";
import StarshipsList from "../components/StarshipsList.vue";

export default defineComponent({
  name: "Starships",
  components: {
    StarshipsList,
    YourSelection,
  }
});
</script>

