<template>
  <footer>
    <div class="footer l-box">
      <p>
          &copy; Copyleft 2o2o - TMUTRMN.
      </p>
    </div>
  </footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Footer',
});
</script>
