<template>
  <header>
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <router-link to="/">
        <a class="pure-menu-heading">
          {{ title }}
        </a>
      </router-link>
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected">
          <router-link to="/">
            <a class="pure-menu-link">Home</a>
          </router-link>
        </li>
        <li class="pure-menu-item">
          <router-link to="/peoples">
            <a class="pure-menu-link">People</a>
          </router-link>
        </li>
        <li class="pure-menu-item">
          <router-link to="/planets">
            <a class="pure-menu-link">Planets</a>
          </router-link>
        </li>
        <li class="pure-menu-item">
          <router-link to="/starships">
            <a class="pure-menu-link">Starships</a>
          </router-link>
        </li>
        <li class="pure-menu-item pure-menu-selected">
          <router-link to="/complete">
            <a class="pure-menu-link">Summary</a>
          </router-link>
        </li>
        <li class="pure-menu-item pure-menu-selected">
          <router-link to="/about">
            <a class="pure-menu-link">About</a>
          </router-link>
        </li>
      </ul>
    </div>
  </header>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Header',
  props: {
    title: String,
  },
});
</script>