<template>
  <div v-if="result">
    <h2>{{result.name}}</h2>
    <table id="people" class="pure-table">
      <tr>
        <td>name</td><td>{{result.name}}</td>
      </tr>
      <tr>
        <td>height</td><td>{{result.height}}</td>
      </tr>
      <tr>
        <td>mass</td><td>{{result.mass}}</td>
      </tr>
      <tr>
        <td>hair_color</td><td>{{result.hair_color}}</td>
      </tr>
      <tr>
        <td>skin_color</td><td>{{result.skin_color}}</td>
      </tr>
      <tr>
        <td>eye_color</td><td>{{result.eye_color}}</td>
      </tr>
      <tr>
        <td>birth_year</td><td>{{result.birth_year}}</td>
      </tr>
      <tr>
        <td>gender</td><td>{{result.gender}}</td>
      </tr>
    </table>
    <br />
  </div>
</template>


<script lang="ts">
import { defineComponent, ref } from "vue";
import useData from "@/hooks/data";

export default defineComponent({
  name: "PeopleDetails",
  props: {
    id: Number,
  },

  async setup(props) {
    if (props.id != null && !isNaN(props.id)) {
      const { result } = await useData("https://swapi.dev/api/people/" + props.id)
      return { result };
    } else {
      return { result: null };
    }
  },
});
</script>
