<template>
  <div>
    <h2>Select you favorite Star Wars character <small style="font-size:75%">or <router-link to="/peoples/add">make your own</router-link></small></h2>
    <div class="content">
      <table id="people" class="pure-table pure-table-striped pure-table-bordered">
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr v-for="item in characterList" :key="item.name">
          <td>{{item.name}}</td>
          <td>{{item.gender}}</td>
          <td>
            <button class="pure-button pure-button-error" @click="remove(item)">
              Delete
            </button>
          </td>
          <td>
            <button :disabled="!item.url" class="pure-button pure-button-primary" @click="goto(item.url)">
              Details
            </button>
          </td>
          <td>
            <button class="pure-button pure-button-success" @click="selectCharacter(item)">
              Select
            </button>
          </td>
        </tr>
      </table>
      <br />
      <button class="pure-button pure-button-primary left">
        Go back
      </button>
      <button class="pure-button pure-button-success right" @click="nextStep()">
        Next Step
      </button>
    </div>
  </div>
</template>


<script lang="ts">
import { computed } from 'vue'
import { defineComponent } from "vue";
import { useStore } from 'vuex'
import router from '../router';
import { ICharacter } from '@/interfaces';

export default defineComponent({
  name: "PeopleList",

  async setup() {
    const store = useStore()
    const selectedCharacter = computed(() => store.state.selectedCharacter)
    const characterList = computed(() => store.state.characters)

    return { store, selectedCharacter, characterList };
  },

  

  methods: {
    selectCharacter(character: ICharacter) {
      this.store.commit('setSelectedCharacter', character);
    },

    previousStep() {
      router.push({ name: 'Home' });
    },

    nextStep() {
      router.push({ name: 'Planets' });
    },

    remove(char: ICharacter) {
      const charList = this.store.state.characters.filter((item: ICharacter) => item !== char)
      this.store.commit('setCharacters', charList);
    },

    goto(url: string) {
      const id = parseInt(url.replace("http://swapi.dev/api/people/", ""));
      router.push({ name: 'People', params: { id: id } });
    }
  }
});
</script>


<style scoped lang="scss">
  table {
    margin: 0 auto;
  }
</style>