<template>
  <Suspense>
    <template #default>
      <PeopleDetailsComponent v-bind:id="id" />
    </template>
    <template #fallback>
      <div></div>
    </template>
  </Suspense>
</template>


<script lang="ts">
import { defineComponent, ref } from "vue";
import router from '../router'
import useData from "@/hooks/data";
import PeopleDetailsComponent from "./PeopleDetailsComponent.vue";

export default defineComponent({
  name: "PeopleDetails",
  props: {
    id: Number,
  },
  components: {
    PeopleDetailsComponent,
  },
});
</script>
