<template>
  <div v-if="result">
    <h2>{{result.name}}</h2>
    <table id="planets" class="pure-table">
      <tr>
        <td>Name</td><td>{{result.name}}</td>
      </tr>
      <tr>
        <td>Rotation_period</td><td>{{result.rotation_period}}</td>
      </tr>
      <tr>
        <td>Orbital period</td><td>{{result.orbital_period}}</td>
      </tr>
      <tr>
        <td>Diameter</td><td>{{result.diameter}}</td>
      </tr>
      <tr>
        <td>Climate</td><td>{{result.climate}}</td>
      </tr>
      <tr>
        <td>Gravity</td><td>{{result.gravity}}</td>
      </tr>
      <tr>
        <td>Terrain</td><td>{{result.terrain}}</td>
      </tr>
      <tr>
        <td>Surface water</td><td>{{result.surface_water}}</td>
      </tr>
      <tr>
        <td>Population</td><td>{{result.population}}</td>
      </tr>
    </table>
    <br/>
  </div>
</template>


<script lang="ts">
import { defineComponent } from "vue";
import useData from "@/hooks/data";

export default defineComponent({
  name: "PlanetDetails",
  props: {
    id: Number,
  },

  async setup(props) {
    if (props.id != null && !isNaN(props.id)) {
      const { result } = await useData("https://swapi.dev/api/planets/" + props.id)
      return { result };
    } else {
      return { result: null };
    }
  },
});
</script>
