<template>
  <div>
    <h2>Planet List</h2>
    <div class="content">
      <table id="people" class="pure-table pure-table-striped pure-table-bordered">
        <tr>
          <th>Name</th>
          <th>climate</th>
          <th>terrain</th>
          <th></th>
          <th></th>
        </tr>
        <tr v-for="item in result.results" :key="item.name">
          <td>{{item.name}}</td>
          <td>{{item.climate}}</td>
          <td>{{item.terrain}}</td>
          <td>
            <button class="pure-button pure-button-primary" v-on:click="goto(item.url)">
              Details
            </button>
          </td>
          <td>
            <button class="pure-button pure-button-success" @click="selectPlanet(item)">
              Select
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button :disabled="!result.previous" class="button-small pure-button" @click="nextOrPrevious(result.previous)">
              Prev
            </button>
            &nbsp;
            <button :disabled="!result.next" class="button-small pure-button" @click="nextOrPrevious(result.next)">
              Next
            </button>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <br />
      <button class="pure-button pure-button-primary left" @click="previousStep()">
        Go back
      </button>
      <button class="pure-button pure-button-success right" @click="nextStep()">
        Next Step
      </button>
    </div>
  </div>
</template>


<script lang="ts">
import { computed, ref } from 'vue'
import { defineComponent } from "vue";
import { useStore } from 'vuex'
import router from '../router';
import useData from "@/hooks/data";
import { IPlanet } from '@/interfaces';

export default defineComponent({
  name: "PlanetList",

  async setup() {
    const store = useStore()
    const selectedCharacter = computed(() => store.state.selectedCharacter)

    const apiUrl = ref('https://swapi.dev/api/planets/');
    const { result } = await useData(apiUrl.value);

    return { store, result, apiUrl, selectedCharacter  };
  },

  watch: {
    // whenever apiUrl changes, this function will run
    apiUrl: function (newApiUrl, oldApiUrl) {
      console.log(newApiUrl, oldApiUrl)
      if (newApiUrl != null) this.loadData(newApiUrl)
    }
  },

  methods: {
    async loadData(url: string) {
      if (url && url !== "") {
        const { result } =  await useData(url);
        this.result = result;
        this.$forceUpdate();
      }
    },

    nextOrPrevious(url: string) {
      this.apiUrl = url;
    },

    selectPlanet(planet: IPlanet) {
      this.store.commit('setSelectedPlanet', planet);
    },

    previousStep() {
      router.push({ name: 'Peoples' });
    },

    nextStep() {
      router.push({ name: 'Starships' });
    },

    goto(url: string) {
      const id = parseInt(url.replace("http://swapi.dev/api/planets/", ""));
      router.push({ name: 'Planet', params: { id: id } });
    }
  }
});
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>