<template>
  <Suspense>
    <template #default>
      <PlanetDetailsComponent v-bind:id="id" />
    </template>
    <template #fallback>
      <div></div>
    </template>
  </Suspense>
</template>


<script lang="ts">
import { defineComponent } from "vue";
import router from '../router'
import useData from "@/hooks/data";
import PlanetDetailsComponent from "./PlanetDetailsComponent.vue";

export default defineComponent({
  name: "PlanetDetails",
  props: {
    id: Number,
  },
  components: {
    PlanetDetailsComponent,
  },
});
</script>
