<template>
  <div v-if="result">
    <h2>{{result.name}}</h2>
    <table id="starships" class="pure-table">
      <tr>
        <td>name</td><td>{{result.name}}</td>
      </tr>
      <tr>
        <td>model</td><td>{{result.model}}</td>
      </tr>
      <tr>
        <td>manufacturer</td><td>{{result.manufacturer}}</td>
      </tr>
      <tr>
        <td>cost_in_credits</td><td>{{result.cost_in_credits}}</td>
      </tr>
      <tr>
        <td>length</td><td>{{result.length}}</td>
      </tr>
      <tr>
        <td>max<br/>atmosphering<br/>speed</td><td>{{result.max_atmosphering_speed}}</td>
      </tr>
      <tr>
        <td>crew</td><td>{{result.crew}}</td>
      </tr>
      <tr>
        <td>passengers</td><td>{{result.passengers}}</td>
      </tr>
      <tr>
        <td>cargo<br/>capacity</td><td>{{result.cargo_capacity}}</td>
      </tr>
      <tr>
        <td>consumables</td><td>{{result.consumables}}</td>
      </tr>
      <tr>
        <td>hyperdrive<br/>rating</td><td>{{result.hyperdrive_rating}}</td>
      </tr>
      <tr>
        <td>MGLT</td><td>{{result.MGLT}}</td>
      </tr>
      <tr>
        <td>starship_class</td><td>{{result.starship_class}}</td>
      </tr>
    </table>
    <br />
  </div>
</template>


<script lang="ts">
import { defineComponent } from "vue";
import useData from "@/hooks/data";

export default defineComponent({
  name: "StarshipDetails",
  props: {
    id: Number,
  },

  async setup(props) {
    if (props.id != null && !isNaN(props.id)) {
      const { result } = await useData("https://swapi.dev/api/starships/" + props.id)
      return { result };
    } else {
      return { result: null };
    }
  },
});
</script>
