<template>
  <div>
    <h2>Select you favorite Starship</h2>
    <div class="content">
      <table id="starships" class="pure-table pure-table-striped pure-table-bordered">
        <tr>
          <th>name</th>
          <th>model</th>
          <th>starship_class</th>
          <th>manufacturer</th>
          <th></th>
          <th></th>
        </tr>
        <tr v-for="item in result.results" :key="item.name">
          <td>{{item.name}}</td>
          <td>{{item.model}}</td>
          <td>{{item.starship_class}}</td>
          <td>{{item.manufacturer}}</td>
          <td>
            <button class="pure-button pure-button-primary" v-on:click="goto(item.url)">
              Details
            </button>
          </td>
          <td>
            <button class="pure-button pure-button-success" @click="selectStarship(item)">
              Select
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button :disabled="!result.previous" class="button-small pure-button" @click="nextOrPrevious(result.previous)">
              Prev
            </button>
            &nbsp;
            <button :disabled="!result.next" class="button-small pure-button" @click="nextOrPrevious(result.next)">
              Next
            </button>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <br />
      <button class="pure-button pure-button-primary left" @click="previousStep()">
        Go back
      </button>
      <button class="pure-button pure-button-success right" @click="nextStep()">
        Done
      </button> 
    </div>
  </div>
</template>


<script lang="ts">
import { computed, ref } from 'vue'
import { defineComponent } from "vue";
import { useStore } from 'vuex'
import router from '../router';
import useData from "@/hooks/data";
import { IStarship } from '@/interfaces';

export default defineComponent({
  name: "StarshipList",

  async setup() {
    const store = useStore()
    const selectedStarship = computed(() => store.state.selectedStarship)

    const apiUrl = ref('https://swapi.dev/api/starships/');
    const { result } = await useData(apiUrl.value);

    return { store, result, apiUrl, selectedStarship  };
  },

  watch: {
    apiUrl: function (newApiUrl, oldApiUrl) {
      console.log(newApiUrl, oldApiUrl)
      if (newApiUrl != null) this.loadData(newApiUrl)
    }
  },

  methods: {
    async loadData(url: string) {
      if (url && url !== "") {
        const { result } =  await useData(url);
        this.result = result
        this.$forceUpdate();
      }
    },

    nextOrPrevious(url: string) {
      this.apiUrl = url;
    },

    selectStarship(starship: IStarship) {
      this.store.commit('setSelectedStarship', starship);
    },

    previousStep() {
      router.push({ name: 'Planets' });
    },

    nextStep() {
      router.push({ name: 'Complete' });
    },

    goto(url: string) {
      const id = parseInt(url.replace("http://swapi.dev/api/starships/", ""));
      router.push({ name: 'Starship', params: { id: id } });
    }
  }
});
</script>
