<template>
  <div>
    <h2>{{msg}}</h2>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Test',
  props: {
    msg: String,
  },
});
</script>