<template>
  <div class="content">
    <h1>Vue 3 App</h1>
    <p>
      This simple Vue 3 app lets you select your favorite Star Wars character, planet and starship.<br />
      App also lets you delete or make your own characters<br />
      <br />
      App demonstrates using following Vue 3 features:
      <ul class="pure-menu-list features">
        <li class="pure-menu-item">Reusable components</li>
        <li class="pure-menu-item">Templating</li>
        <li class="pure-menu-item">Routing</li>
        <li class="pure-menu-item">Handling state</li>
        <li class="pure-menu-item">Reactivity</li>
        <li class="pure-menu-item">Hooks to load REST API data</li>
      </ul>        
    </p>
    
    <div class="vue-plugins-list">
      <h3>Installed CLI Plugins</h3>
      <ul>
        <li><a href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-router" target="_blank" rel="noopener">router</a></li>
        <li><a href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-vuex" target="_blank" rel="noopener">vuex</a></li>
        <li><a href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-eslint" target="_blank" rel="noopener">eslint</a></li>
        <li><a href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-unit-jest" target="_blank" rel="noopener">unit-jest</a></li>
        <li><a href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-typescript" target="_blank" rel="noopener">typescript</a></li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'WelcomeMessage',
  props: {
    msg: String,
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}

.features {
  list-style-type: disc;
}
ul.features  {
  display: inline-block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style-position: inside;
  margin:0 auto;
}
.features li {
  display: list-item;
  width:280px;
  text-align:left;
}

.vue-plugins-list {
  /* border:1px solid #ccc; */
}
.vue-plugins-list ul {
  list-style-type: none;
  padding: 0;
}
.vue-plugins-list li {
  display: inline-block;
  margin: 0 10px;
}
.vue-plugins-list a {
  color: #42b983;
}
</style>
