<template>
  <section>
    <div class="pure-g" style="border: 1px solid #ccc; height: auto;">
      <div class="pure-u-1-3">
        <p>
          Selected character:
          <br />
          <b v-if="selectedCharacter.name">{{ selectedCharacter.name }}</b>
          <b v-else>no selected character</b>
        </p>
        <div v-if="showDetails">
          <PeopleDetails v-bind:id="characterId" />
        </div>
      </div>
      <div class="pure-u-1-3">
        <p>
          Selected planet:
          <br />
          <b v-if="selectedPlanet.name">{{ selectedPlanet.name }}</b>
          <b v-else>no selected character</b>
        </p>
        <div v-if="showDetails">
          <PlanetDetails v-bind:id="planetId" />
        </div>
      </div>
      <div class="pure-u-1-3">
        <p>
          Selected starship:
          <br />
          <b v-if="selectedStarship.name">{{ selectedStarship.name }}</b>
          <b v-else>no selected character</b>
        </p>
        <div v-if="showDetails">
          <StarshipDetails v-bind:id="starshipId" />
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import { useStore } from "vuex";
import PeopleDetails from "./PeopleDetails.vue";
import PlanetDetails from "./PlanetDetails.vue";
import StarshipDetails from "./StarshipDetails.vue";

export default defineComponent({
  name: "YourSelection",
  props: {
    showDetails: Boolean,
  },
  components: {
    PeopleDetails,
    PlanetDetails,
    StarshipDetails,
  },

  setup() {
    const store = useStore();
    
    const selectedCharacter = computed(() => store.state.selectedCharacter);
    const characterId = ref(
      (store.state.selectedCharacter && store.state.selectedCharacter.url)
        ? parseInt(store.state.selectedCharacter.url.replace("http://swapi.dev/api/people/", ""))
        : null);

    const selectedPlanet = computed(() => store.state.selectedPlanet);
    const planetId = ref(
      (store.state.selectedPlanet && store.state.selectedPlanet.url)
        ? parseInt(store.state.selectedPlanet.url.replace("http://swapi.dev/api/planets/", ""))
        : null);
    
    const selectedStarship = computed(() => store.state.selectedStarship);
    const starshipId = ref(
      (store.state.selectedStarship && store.state.selectedStarship.url)
        ? parseInt(store.state.selectedStarship.url.replace("http://swapi.dev/api/starships/", ""))
        : null);
    
    return { 
      store,
      selectedCharacter, characterId,
      selectedPlanet, planetId,
      selectedStarship, starshipId,
    };
  },
});
</script>