<template>
  <Header title="Vue tehtävä"/>
  <main v-if="!loading">
    <router-view />
  </main>
  <main v-else>
    Loading...
  </main>
  <Footer />
</template>


<script lang="ts">
import { computed, defineComponent } from 'vue';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
import { useStore } from 'vuex'
import axios from 'axios';

export default defineComponent({
  name: 'App',
  components: {
    Header,
    Footer,
  },


  setup() {
    const store = useStore()
    const loading = computed(() => store.state.loading)
    
    return { loading, store }
  },

  async mounted() {
    async function getRecursive(url: string): Promise<any> {
      const response = await axios.get(url)
      const data = response.data['results'];
      if (!response.data['next']) {
        return data;
      }
      return [...data, ...(await getRecursive(response.data['next']))];
    }

    const result = await getRecursive("https://swapi.dev/api/people/");
    this.store.commit('setCharacters', result);
    this.store.commit('setLoading', false)
  }

});
</script>



<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
